<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Testimonials</h2>
            <p class="mb-8 font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">See what our customers are
                saying about their digital shopping experience on DigiRoad.</p>
        </div>
        <div class="grid mb-8 lg:mb-12 lg:grid-cols-2">
            <figure
                class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-b border-gray-200 md:p-12 lg:border-r dark:bg-gray-800 dark:border-gray-700">
                <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Shopping Made Easy</h3>
                    <p class="my-4">"Navigating DigiRoad for my favorite digital products was a breeze. The website's
                        intuitive design and seamless integration made my shopping experience delightful. Unlike other
                        platforms, DigiRoad's streamlined process allowed me to find, customize, and purchase digital
                        goodies within minutes."</p>
                    <p class="my-4">DigiRoad is a game-changer for anyone who values their time and seeks a hassle-free
                        shopping experience. I highly recommend it for all your digital product needs."</p>

                </blockquote>
                <figcaption class="flex justify-center items-center space-x-3">
                    <img class="w-9 h-9 rounded-full"
                        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png"
                        alt="profile picture">
                    <div class="space-y-0.5 font-medium dark:text-white text-left">
                        <div>Bonnie Green</div>
                        <div class="text-sm font-light text-gray-500 dark:text-gray-400">Developer at Open AI</div>
                    </div>
                </figcaption>
            </figure>
            <figure
                class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-b border-gray-200 md:p-12 dark:bg-gray-800 dark:border-gray-700">
                <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Solid Foundation for Digital
                        Projects</h3>
                    <p class="my-4">"DigiRoad provides a robust collection of digital products and tools for my
                        projects. The design tokens and components, inspired by the latest trends, offer a solid
                        foundation for any digital endeavor. Whether it's forms, navigation bars, or complete app
                        screens, DigiRoad's UI kit is a game-changer for my projects."</p>
                    <p class="my-4">Designing with DigiRoad's components, which seamlessly integrate with Tailwind CSS,
                        is a huge timesaver. The thoughtful design and functionality elevate the overall quality of my
                        digital projects."</p>

                </blockquote>
                <figcaption class="flex justify-center items-center space-x-3">
                    <img class="w-9 h-9 rounded-full"
                        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/roberta-casas.png"
                        alt="profile picture">
                    <div class="space-y-0.5 font-medium dark:text-white text-left">
                        <div>Roberta Casas</div>
                        <div class="text-sm font-light text-gray-500 dark:text-gray-400">Lead designer at Dropbox</div>
                    </div>
                </figcaption>
            </figure>
            <figure
                class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-b border-gray-200 lg:border-b-0 md:p-12 lg:border-r dark:bg-gray-800 dark:border-gray-700">
                <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Innovative Solutions for Software
                        Engineering</h3>
                    <p class="my-4">"I'm truly impressed with the innovative solutions provided by DigiRoad. As a
                        Software Engineer at Facebook, I often seek tools and resources that enhance the development
                        process, and DigiRoad has exceeded my expectations."</p>
                    <p class="my-4">The components are well-structured, making it a breeze to integrate them into my
                        projects. DigiRoad's UI kit not only saves time but also adds a touch of sophistication to my
                        applications. It's a must-have for any software engineer looking to elevate their work."</p>

                </blockquote>
                <figcaption class="flex justify-center items-center space-x-3">
                    <img class="w-9 h-9 rounded-full"
                        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png"
                        alt="profile picture">
                    <div class="space-y-0.5 font-medium dark:text-white text-left">
                        <div>Jese Leos</div>
                        <div class="text-sm font-light text-gray-500 dark:text-gray-400">Software Engineer at Facebook
                        </div>
                    </div>
                </figcaption>
            </figure>
            <figure
                class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-gray-200 md:p-12 dark:bg-gray-800 dark:border-gray-700">
                <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Revolutionizing Technology at Google
                    </h3>
                    <p class="my-4">"DigiRoad has played a pivotal role in revolutionizing technology at Google. As the
                        Chief Technology Officer (CTO), I am constantly seeking tools that align with Google's
                        commitment to innovation and excellence."</p>
                    <p class="my-4">The elements provided by DigiRoad are not just aesthetically pleasing but also
                        highly functional. It has streamlined our development process, allowing us to focus on pushing
                        the boundaries of technology. DigiRoad is, without a doubt, an invaluable asset to any
                        tech-driven organization."</p>
                </blockquote>
                <figcaption class="flex justify-center items-center space-x-3">
                    <img class="w-9 h-9 rounded-full"
                        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/joseph-mcfall.png"
                        alt="profile picture">
                    <div class="space-y-0.5 font-medium dark:text-white text-left">
                        <div>Joseph McFall</div>
                        <div class="text-sm font-light text-gray-500 dark:text-gray-400">CTO at Google</div>
                    </div>
                </figcaption>
            </figure>
        </div>
        <div class="text-center">
            <a href="#"
                class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Show
                more...</a>
        </div>
    </div>
</section>